node_modules
npm-debug.log
dist
.git
.gitignore
.env.local
.env.development
.env.test
.env.production
.DS_Store
*.log
.vscode
.idea
*.swp
*.swo
coverage
.nyc_output
.github
.editorconfig
README.md
.eslintcache
*.md